h1 {
    font-family: Helvetica;
}
 
 
label {
    display: block;
    font: 1rem 'Fira Sans' sans-serif;
    
}
 
input,
label {
    margin: 5px;
}
 
 
.row {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;   
    color:red;
    margin-left: 15px;
    padding-left: 20px;   /*ask about this margin*/
       
}
 
#fname, #description {
    width: 100%;  
}
 
.container-1 {
    display: flex;
    justify-content:left;
    border-style: solid;
    width: 380px;
    margin: 10px;
    margin-left: 15px;
    margin-top: 7px;
}


/* Complete Task*/
body {
    background-color: rgb(28, 139, 236);
}


.card {
   width: 20%;
   background: #fff;
   border: 2px solid black;
   /*margin-bottom: 30px;*/
   transition: 0.3s;
   margin-top: 15px;
   /*margin-bottom: 15px;*/
  
  
} 
  
.container{
    display: flex;
    justify-content:center;
    flex-direction: row;
    /*justify-content: space-between; */
    border-color: black;
    
}
h5{
  text-align: justify; 
  text-justify:  inter-word;
  font-weight:bolder ;
}
p{
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}
.btn-danger {
    margin-left: 9px;
}
/*complete task END*/

.btn-m {
    width:53%;
    /*min-height: 50%;*/
    
}






 
.open {
    display: flex;
    flex-direction: column;
}
 
.new {
    display: flex;
    justify-content:left;
}
 
.navbar {
    display: grid;
    grid-template-columns: 10px 1fr 3fr 1fr;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgba(120,70,154, 0.2);
    text-align: center;
    top: 0;
    left: 0;
    justify-content: space-around;
  }
  
  .navbar h1 {
    grid-column: 3 / 4;
    font-family: Poppins;
    color:dodgerblue;
    margin: 0;
    align-self: center;
  }


  /*
  .btn-primary{
    background-color: orange;
    transition-property: background-color;
    transition-duration: 200ms;
  }

  .btn-primary:hover {
    max-height: 180px;
  }*/
  